@font-face {
  font-family: myFirstFont;
  src: url(/assets/fonts/Inter_24pt-Regular.ttf);
}

/* ******************* */
form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.comment-section {
  width: 90%;
  /* margin: 20px auto; */
  /* margin: auto; */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
}

.comments-list {
  max-height: 400px; /* Set a maximum height for the chat */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 0px solid #ddd; /* Optional: Add a border */
  padding: 0px; /* Optional: Add padding */
  margin-bottom: 20px; /* Space between comments and form */
}

.comment {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
}

.comment:last-child {
  border-bottom: none;
}

.comment img {
  border-radius: 50%; /* Make the image circular */
  margin-right: 10px; /* Space between image and text */
  width: 50px; /* Set a fixed width */
  height: 50px; /* Set a fixed height */
}

.comment-content {
  display: flex;
  flex-direction: column; /* Stack h4 and p vertically */
}

.comment h4 {
  margin: 0;
  font-size: 1.1em;
  font-family: myFirstFont;
}

.comment p {
  margin: 5px 0 0;
  color: #555;
  font-family: myFirstFont;
}

input[type="text"],
textarea {
  /* width: 90%; Full width */
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Adjust the textarea size */
textarea {
  height: 50px; /* Set the height of the textarea */
  resize: vertical; /* Allow vertical resizing only */
}

button {
  padding: 10px 15px;
  background-color: #1c3caf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #4868db;
}
