@font-face {
  font-family: myFirstFont;
  src: url(/assets/fonts/Inter_24pt-Regular.ttf);
}

.head-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Ensure it takes full width */
}

.body {
  font-family: myFirstFont;
}

body {
  transition: opacity 0.5s ease-out;
  background-color: #000000;
  /* background-image: linear-gradient( */
  /* to top, */
  /* rgba(132, 18, 18, 0.09) 0%, rgba(0, 0, 0, 0.09) 100% #1c3caf, */
  /* #a2b3f3 */
  /* ); */
  /* min-height: 100px; */
}

img {
  border-radius: 8px;
}

video {
  border-radius: 8px;
}

.main {
  display: grid;
  grid-template-columns: auto 440px auto;
}

.mid {
  display: flex; /* Make the parent a flex container */
  flex-direction: column; /* Stack children vertically */
}

.mid-logo {
  display: flex;
  justify-content: center; /* Center the logo horizontally */
  align-items: center; /* Center the logo vertically if needed */
  text-align: center; /* Center text inside if applicable */
}
.mid-text-ket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: myFirstFont;
  color: rgb(255, 255, 255);
}

.mid-text-ket-genre {
  display: flex;
  /* flex-direction: column;  */
  /* align-items: flex-start;  */
  /* justify-content: flex-start; */
  font-family: myFirstFont;
  text-align: left; /* Align text to the left */
  font-size: 18px;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.mid-text-ket-desc {
  display: flex;
  /* flex-direction: column;  */
  /* align-items: flex-start;  */
  /* justify-content: flex-start; /* */
  font-family: myFirstFont;
  text-align: justify; /*Align text to the left */
  font-size: 18px;
  margin-bottom: 15px;
  color: rgb(180, 176, 176);
}

.mid-text-title {
  display: flex;
  font-family: myFirstFont;
  text-align: justify; /*Align text to the left */
  font-size: 18px;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.mid-rounded-box {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally (optional) */
  background-color: #ffffff; /* Background color of the box */
  border-radius: 15px; /* Rounded corners */
  padding: 20px; /* Padding inside the box */
  margin-top: 20px; /* Space above the box */
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  width: 80%; /* Set width to 80% of the parent */
  max-width: 400px; /* Optional: Set a maximum width */
  margin: 20px auto; /* Center the box horizontally with auto margins */
  margin-bottom: 25px;
  height: 5px; /* Set a specific height for vertical centering */
}
.mid-rounded-box p {
  font-size: 20px; /* Set a consistent font size */
  margin: 0; /*  Remove default margin */
  align-items: center;
  justify-content: flex-start;
  font-family: myFirstFont;
  font-weight: bold;
  /* font-size: ; */
  color: black;
}

.mid-bride-groom-box {
  display: flex; /* Use flexbox to arrange children side by side */
  justify-content: space-between; /* Optional: Space between the boxes */
  align-items: center; /* Center items vertically */
  width: 100%; /* Ensure it takes full width of the parent */
  margin-bottom: 15px;
}
.mid-bride-groom-box img {
  /* background-color: #ffffff; */
  width: 95%;
  /* height: 320px; */
  border: #ffffff;
  border-width: 100px;
}

.mid-bride-groom-name {
  display: flex;
  font-family: myFirstFont;
  text-align: center;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  justify-content: left;
}
.mid-bride-groom-parent {
  display: flex;
  font-family: myFirstFont;
  text-align: left;
  font-size: 12px;
  color: rgb(180, 176, 176);
  /* font-weight: bold;  */
  justify-content: left;
  margin-top: 5px;
}

.mid-seasons-box {
  display: flex; /* Use flexbox to arrange children side by side */
  flex-direction: column;
  justify-content: left; /* Optional: Space between the boxes */

  font-family: myFirstFont;
  text-align: left;
  font-size: 12px;
  color: rgb(180, 176, 176);
}
.mid-seasons-box img {
  /* background-color: #ffffff; */
  width: 209px;
  /* height: 320px; */
  border: #ffffff;
  border-width: 100px;
  padding-right: 10px;
}

.mid-episode-sec {
  display: flex; /* Use flexbox to arrange children side by side */
  /* flex-direction: row;  */
  justify-content: left; /* Optional: Space between the boxes */
  align-items: center; /* Center items vertically */
  /* width: 100%; Ensure it takes full width of the parent */
  margin-bottom: 15px;

  font-family: myFirstFont;
  text-align: left;
  font-size: 12px;
  color: rgb(180, 176, 176);
}

.mid-episode-name {
  display: flex; /* Use flexbox to arrange children side by side */
  flex-direction: column;
  justify-content: left; /* Optional: Space between the boxes */
}

.photo-grid {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.photo-grid > div {
  width: 130px;
  height: 195px;
  background-color: #ffffff;
  margin: 5px;
  justify-content: center;
  border-radius: 8px;
}

.gift-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}
.gift-grid > div {
  /* width: 130px; */
  height: 195px;
  /* background-color: #ffffff; */
  margin: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-family: myFirstFont;
  text-align: center;
  color: #ffffff;
}

.mid-venue-box {
  display: grid;
  grid-template-columns: 50% 50%;
}
.mid-venue-box > div {
  width: 210px;
  height: 195px;
  /* background-color: #ffffff; */
  margin: 5px;
  justify-content: center;
  border-radius: 8px;
  color: #ffffff;
}

.venue-grid-title {
  font-family: myFirstFont;
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
}
.venue-grid-text {
  font-family: myFirstFont;
  text-align: center;
  padding-top: 5px;
}
.venue-grid-photo {
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  padding-top: 15px;
  padding-bottom: 25px;
}
.photo-icon {
  max-width: 60px;
}

.play-text {
  margin-left: 10px; /* Adjust the space as needed */
}

.overlay {
  display: flex; /* Use flexbox to center the button */
  position: fixed; /* Position it fixed to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background 0.7*/
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1000; /* Ensure it is above other content */
  flex-direction: column;
}

.circle-photo {
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
  /* border-radius: 50%; This makes it a circle */
  background-image: url("/assets/img/logo1.png"); /* Replace with your photo path */
  background-size: cover; /* Ensures the image covers the circle */
  background-position: center; /* Centers the image */
  margin: 0 auto; /* Centers the circle horizontally */
  position: absolute; /* Allows positioning relative to the overlay */
  top: 20px;
}

.profile-photo-1 {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border-radius: 50%; /* This makes it a circle */
  background-image: url("/assets/img/logo1.png"); /* Replace with your photo path */
  background-size: cover; /* Ensures the image covers the circle */
  background-position: center; /* Centers the image */
  margin: 0 auto; /* Centers the circle horizontally */
  position: relative; /* Allows positioning relative to the overlay */
  top: -20px; /* Adjusts the position above the button */
  /* padding-right: 20px; */
}
.profile-photo-2 {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border-radius: 50%; /* This makes it a circle */
  background-image: url("/assets/img/logo1.png"); /* Replace with your photo path */
  background-size: cover; /* Ensures the image covers the circle */
  background-position: center; /* Centers the image */
  margin: 0 auto; /* Centers the circle horizontally */
  position: relative; /* Allows positioning relative to the overlay */
  top: -20px; /* Adjusts the position above the button */
}

.overlay-profile {
  display: flex;
  flex-direction: row;
}
.open-button {
  padding: 10px 20px; /* Button padding */
  font-size: 18px; /* Button font size */
  color: white; /* Button text color */
  background-color: #007bff; /* Button background color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

.open-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
